<!--- index.html -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We">
  
<div class="content">  
  <mat-card>
    <br>
    <div class="container" >
      <div class="row">
        <div class="col-sm">
          <h1><strong> Energy Monitoring </strong></h1>
        </div>
        <div class="col-sm" style="text-align: right;">
          <img src="assets/logo.png" style="width:auto; height:48px; ">
        </div>
      </div>
      <br>
      <div class="row">
        <span> Select Device: 
          <select [(ngModel)] = "selectedOption" (change)="onDeviceChanged()" style="margin-bottom: 16px;">
            <option [ngValue]="null">-- Choose a device --</option>
            <option *ngFor="let device of deviceList;" [value]="device.name">
              {{ device.description }}
            </option>
          </select>
        </span> 

        <br>
        <br>
        <table>
          <tr>
            <th>Measurement</th>
            <th>Value</th>
            <th>Unit</th>
          </tr>
          <tr>
            <td>Voltage</td>
            <td>{{ data?.voltage }}</td>
            <td>Volt</td>
          </tr>
          <tr>
            <td>Current</td>
            <td>{{ data?.current }}</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Energy</td>
            <td>{{ data?.energy }}</td>
            <td>kWH</td>
          </tr>
          <tr>
            <td>Power</td>
            <td>{{ data?.power }}</td>
            <td>Watt</td>
          </tr>
          <tr>
            <td>Frequency</td>
            <td>{{ data?.freq }}</td>
            <td>Hz</td>
          </tr>
          <tr>
            <td>Power Factor</td>
            <td>{{ data?.pf }}</td>
            <td>-</td>
          </tr>
        </table>
      </div>
      <br>
    </div>
  </mat-card>
</div>